 table.main {}
 tr.row {}
 td.cell {}
 div.block {}
 div.paragraph {}
 .font0 { font:10pt "Consolas", monospace; }
 .font1 { font:5pt "Times New Roman", serif; }
 .font2 { font:6pt "Times New Roman", serif; }
 .font3 { font:7pt "Times New Roman", serif; }
 .font4 { font:9pt "Times New Roman", serif; }
 .font5 { font:10pt "Times New Roman", serif; }
 .font6 { font:12pt "Times New Roman", serif; }
 .font7 { font:13pt "Times New Roman", serif; }
 .font8 { font:13pt "Times New Roman", serif; }
 .font9 { font:14pt "Times New Roman", serif; }
 .font10 { font:14pt "Times New Roman", serif; }
 .font11 { font:16pt "Times New Roman", serif; }
 .font12 { font:17pt "Times New Roman", serif; }
 .font13 { font:19pt "Times New Roman", serif; }
 .font14 { font:22pt "Times New Roman", serif; }
 .font15 { font:24pt "Times New Roman", serif; }
 .font16 { font:60pt "Times New Roman", serif; }
 .font17 { font:62pt "Times New Roman", serif; }
 .font18 { font:90pt "Times New Roman", serif; }
